body {
    font-family: Arial, sans-serif;
    background-color: hsl(180, 76%, 55%);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: pink;
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    background-color: #00d74b;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a6a600;
}
